.appointment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.doctor {
  font-weight: bold;
}

.date {
  color: blue;
}

.location {
  font-style: italic;
}

.description_app {
  font-size: 14px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 80%;
  max-width: 400px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 5px;
}

.btn {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 10px;
  margin-left: 5px;
}

.btn-secondary {
  background-color: #ccc;
  color: #fff;
}

.btn-primary {
  background-color: blue;
  color: #fff;
}

.appointment_card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 30px;
  background-color: rgb(216, 213, 203) !important;
}
.appointment_card input {
  border-radius: 10px;
}
