.container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.form-box-register {
  width: 90%;
  max-width: 450px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 213, 203) !important;
  border-radius: 30px;
  padding: 50px 60px 70px;
  text-align: center;
}

.form-box-register h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #3c00a0;
  position: relative;
}

.form-box-register h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: #3c00a0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background: #eaeaea;
  margin-left: 15px;
  margin: 15px 0;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #999;
}

.btn-field-register {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field-register button {
  flex-basis: 48%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  margin-top: 150px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: backgroud 1s;
}

.input-group {
  height: 280px;
}

.btn-field button.disable {
  background: #eaeaea;
  color: #555;
}

.icon {
  background: #3c00a0;
  color: #fff;
}
