@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap");

* {
  font-family: "Cinzel", serif;
}
body {
  background-color: rgb(162, 151, 136);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fauna One", sans-serif;
}

.authorize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.authorize span {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
